.Contact {
  p,
  input,
  textarea,
  button {
    font-size: 18px;
    font-weight: bold;
  }
  img {
    margin: 0 auto;
  }
  p {
    text-align: center;
    padding: 16px 0 0;
  }
  form {
    display: flex;
    flex-direction: column; 
    margin-top: 64px;

    input,
    textarea,
    button {
      border: 5px solid white;
      padding: 24px;
      background-color: black;
      color: white;
      text-transform: uppercase;
    }

    input,
    textarea {
      margin-bottom: 16px;
      flex: 1;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        color: white;
      }
    }

    textarea {
      min-height: 225px;
    }
  }
  button {
    background: white;
    max-width: 248px;
    width: 100%;
    margin-left: auto;
  }
}