.Contact {
  min-height: calc(100vh - 216px); // 100vh - (.Header height + .Footer height)
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  img {
    max-width: 32px;
    width: 32px;
    margin: auto;
  }
  p {
    font-size: 18px;
    margin: 16px 0 0;
  }
  @media (min-width: 768px) {
    min-height: calc(100vh - 187px); // 100vh - (.Header height + .Footer height)
  }
  @media (min-width: 1280px) {
    min-height: calc(100vh - 243px); // 100vh - (.Header height + .Footer height)
  }
}