.Home {
  min-height: calc(100vh - 216px); // 100vh - (.Header height + .Footer height)
  img {
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  @media (min-width: 768px) {
    min-height: calc(100vh - 187px); // 100vh - (.Header height + .Footer height)
  }
  @media (min-width: 1280px) {
    min-height: calc(100vh - 243px); // 100vh - (.Header height + .Footer height)
  }
}
