@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  background-color: black;
  color: white;
}

.dice {
  height: 350px;
}

button {
  background: none;
  border: none;
}

p {
  line-height: 1.2;
}

// Media Query
@media only screen and (max-width: 700px) {
  .dice {
    height: 200px;
  }

  .mobile-form {
    padding: 0px 80px;
    font-size: 20px;
  }
}